In [57]:
# %%writefile xxx.py

import sys
import os 
module_path = os.path.abspath(os.path.join('..')) 
if module_path not in sys.path: 
    sys.path.append(module_path)

import numpy as np
import pandas as pd

import QUANTAXIS as QA

import tools.Sample_Tools as smpl
from base.JuUnits import excute_for_multidates

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [66]:
min5 = smpl.get_data(['000001'], start='2017-01-03', end='2017-12-31', gap=None, freq=QA.FREQUENCE.FIVE_MIN).data

In [69]:
ret5 = min5.close/min5.close.shift(1) - 1
ret5

datetime             code
2017-01-03 09:35:00  000001         NaN
2017-01-03 09:40:00  000001   -0.001099
2017-01-03 09:45:00  000001    0.001100
2017-01-03 09:50:00  000001    0.004396
2017-01-03 09:55:00  000001    0.001094
                                 ...
2017-12-29 14:40:00  000001   -0.000754
2017-12-29 14:45:00  000001   -0.000755
2017-12-29 14:50:00  000001    0.005287
2017-12-29 14:55:00  000001   -0.001503
2017-12-29 15:00:00  000001    0.000752
Name: close, Length: 11712, dtype: float64

In [70]:
min30 = smpl.get_data(['000001'], start='2017-01-03', end='2017-12-31', gap=None, freq=QA.FREQUENCE.THIRTY_MIN).data

,,open,high,low,close,volume,amount,type
datetime,code,,,,,,,
2017-01-03 10:00:00,000001,9.11,9.17,9.09,9.17,15533200.0,141786352.0,30min
2017-01-03 10:30:00,000001,9.17,9.18,9.15,9.16,7086700.0,64971616.0,30min
2017-01-03 11:00:00,000001,9.17,9.18,9.15,9.15,3731200.0,34188272.0,30min
2017-01-03 11:30:00,000001,9.15,9.16,9.13,9.14,3003200.0,27468464.0,30min
2017-01-03 13:30:00,000001,9.13,9.15,9.13,9.14,2267000.0,20721232.0,30min
...,...,...,...,...,...,...,...,...
2017-12-29 11:30:00,000001,13.20,13.31,13.19,13.24,7353500.0,97452288.0,30min
2017-12-29 13:30:00,000001,13.26,13.29,13.18,13.19,9439800.0,124841344.0,30min
2017-12-29 14:00:00,000001,13.18,13.24,13.12,13.20,10448000.0,137503488.0,30min
2017-12-29 14:30:00,000001,13.21,13.32,13.19,13.27,13163900.0,174649920.0,30min
2017-12-29 15:00:00,000001,13.26,13.33,13.23,13.30,14652200.0,194642048.0,30min

In [71]:
ret30 = min30.close/min30.close.shift(1) - 1
ret30

datetime             code
2017-01-03 10:00:00  000001         NaN
2017-01-03 10:30:00  000001   -0.001091
2017-01-03 11:00:00  000001   -0.001092
2017-01-03 11:30:00  000001   -0.001093
2017-01-03 13:30:00  000001    0.000000
                                 ...
2017-12-29 11:30:00  000001    0.003030
2017-12-29 13:30:00  000001   -0.003776
2017-12-29 14:00:00  000001    0.000758
2017-12-29 14:30:00  000001    0.005303
2017-12-29 15:00:00  000001    0.002261
Name: close, Length: 1952, dtype: float64

In [72]:
ret5.std()

0.002328890543630854

In [73]:
ret30.std()

0.005692617783639892

In [74]:
min60 = smpl.get_data(['000001'], start='2017-01-03', end='2017-12-31', gap=None, freq=QA.FREQUENCE.HOUR).data
ret60 = min60.close/min60.close.shift(1) - 1
ret60.std()

0.00798770423036689